:root {
    --main-bg-color: rgb(244, 67, 54);
    --main-bg-color-a: rgba(244, 67, 54, 0.8);
    --main-bg-color-a1: rgba(244, 67, 54, 0.28);
    --main-bg-color-a2: rgba(244, 67, 54, 0.2);
    --main-bg-color-dark: rgba(0, 0, 0, 0.12);
    --main-bg-color-light: #fff;
    --main-bg-image: #ef5350;
    --main-bg-image2: #ff3b37;
    --main-bg-image-dark: #D2D2D2;
    --main-bg-image-dark2: #D2D2D2;
}
